{% extends "base.html" %}

{% block content %}

<h1>Sign up</h1>

{% include 'snippets/form_errors.html' %}

<form method = 'POST'>
    <div>
        <label for = 'email'>Email</label>
        <input type='email' name='email' placeholder='Enter your email address'/>
    </div>

    <div>
        <label for = 'password'>Password</label>
        <input type='password' name='password' placeholder='Enter your password'/>
    </div>

    <div>
        <label for = 'password'>Confirm password</label>
        <input type='password' name='password_confirm' placeholder='Confirm your password'/>
    </div>

    <div>
        <button type="submit">Sign up</button>
    </div>

</form>
{% endblock %}