{% extends "base.html" %}

{% block title %} Videos | {{super () }} {% endblock %}

{% block content %}
<h1> Playlists </h1>
{% for object in object_list %}
       
        <div class="list-group">      
            
                <a class="list-group-item list-group-item-action" href="{{ object.path }}">
                {% if not object.title %}{{ object.db_id }}{% else %}{{ object.title }}{% endif %}
                </a>
        </div>
        
{% endfor%}
</li>
<div class="list-group">
<a class="list-group-item list-group-item-action" href="/playlists/create">+ Create Playlist</a>
</li>

{% endblock %}