<!DOCTYPE html>
<html>
    <head>
        <title>{% block title%} Video based learning platform {% endblock %}</title>
    </head>
    <body>
        {% include 'snippets/nav.html' %}
        {% block content %}
        <h1>Body</h1>
        {% endblock %}

        <script>
            var tag = document.createElement("script");
            tag.src ='https://www.youtube.com/iframe_api';
            var firstScriptTag = document.getElementsByTagName("script")[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        </script>
       <script src="https://unpkg.com/htmx.org@1.8.6" integrity="sha384-Bj8qm/6B+71E6FQSySofJOUjA/gq330vEqjFx9LakWybUySyI1IQHwPtbTU7bNwx" crossorigin="anonymous"></script>
       
    </body>
</html>