{% extends "base.html" %}

{% block title %} Welcome! | {{super () }} {% endblock %}

{% block content %}
<h1> Welcome back dear user </h1>


<section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
      <img src="{{ image_path }}" class="img-fluid animated">
      
      <h2>Welcome to <span>Video based learning platform</span></h2>
    </div>
  </section>

{% endblock %}